<% include ../partials/header.ejs %>


<% include ../partials/main_nav.ejs %>


<!-- content for add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <lable for="nameTextField">Boot Title</lable>
                    <input type="text" class="form-control"
                    id = "nameTextField"
                    placeholder="Enter the Book Title"
                    name="name"
                    required>
                </div>

                <div class="form-group">
                    <lable for="AuthorTextFeild">Author</lable>
                    <input type="text" class="form-control"
                    id = "AuthorTextFeild"
                    placeholder="Enter the Author"
                    name="author"
                    required>                    
                </div>

                <div class="form-group">
                    <lable for="publishedTextFeilds">Year</lable>
                    <input type="text" class="form-control"
                    id = "publishedTextFeilds"
                    placeholder="Published"
                    name="Published"
                    required>                    
                </div>


                <div class="form-group">
                    <lable for="DescTextFeilds">Description</lable>
                    <textarea type="text" class="form-control"
                    id = "DescTextFeilds"
                    placeholder="Description: "
                    name="Published"
                    required></textarea>                    
                </div>



                <div class="form-group">
                    <lable for="PriceTextFeilds">Price</lable>
                    <input type="number" class="form-control"
                    id = "PriceTextFeilds"
                    placeholder="Price: "
                    name="Price"
                    required>                    
                </div>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                    <a href="/book-list" class="btn btn-warning"><i class="fas fa-undo">Cancel</i></a>

            </form>


        </div>
    </div>
</div>





<% include ../partials/bottom_nav.ejs %>

 <% include ../partials/footer.ejs %>