<% include partials/header.ejs %>


<% include partials/main_nav.ejs %>

<body>

    <!-- Main Content -->
  <main class="container" >
  <% if(title == "Home" || title == '/'){ %>
  
   <% } %> 
  <div class="jumbotron" id="home">

   <% if(title == "Home" || title == '/'){ %>
    <img height="200" style="position:relative;" src="./Assets/images/bubbleScape1.png">
  <h1>Welcome To Marco Pastore's home page</h1>
  <h3> I'm here to be the best at what I enjoy</h3> 
  <h4> Get to know me</h4>
  <h5><a href="/about">About Me</a>, <a href="/projects"> My Projects</a>, <a href="/services"> My Services</a>, <a href="/contact"> Contact</a></h5>

   <% } else { %>
   <h1> Welcome to my <%= title %> Page</h1>
   <% } %> 
      
    <% if(title == "About"){ %>
    <img height="200" style="position:relative;" src="./Assets/images/me.jpg">
    <h2>I'm Marco Pastore </h2>
    <p>I was born in East York, but grew up in Richmond Hill. I enrolled at centennial college in 2018 for software engineering.</p>
    <p>I started coding when I was 19 and have been enjoying it ever since</p>
    <p>To find out my credentials check out my <a href="./Assets/MARCO PASTORE.pdf">resume</a></p>
    <h5><a href="/about">About Me</a>, <a href="/projects"> My Projects</a>, <a href="/services"> My Services</a>, <a href="/contact"> Contact</a></h5>

   <% } %> 

  

   <% if(title == "Projects"){ %>

    <h4> Here you'll see what I'm working, completed, and want to achieve</h4>
    <img height="150" width="150" style="position:relative;" src="./Assets/images/bubbleScape1.png">
    <h2>1. My Personal Website </h2><p> I would like to think of this webpage that I made an important cornerstone for more things to come 
    <br>This webpage is one of the things I wanted to make as a software engineer. And it is built off of</br> an ExpressJS libary 
    as the back-end framework</p>
    <br></br>
    <img height="200" width="300" style="position:relative;" src="./Assets/images/SPACESHOOTER.jpg"> <img height="300" width="200" style="position:relative;" src="./Assets/images/Calcu.png"> 
    <h2>2. Developing apps</h2>
    <p> I've started developing apps since I was 22 and am currently still in the process of making one currently as you see above. <br> It is a space shoot platform 
    game. when I started I was making calculators and apps that convert units </br></p>
    <br></br>

     <img height="300" width="300" style="position:relative;" src="./Assets/images/Software.jpeg"> 
    <h2>3. Build/Managing Software</h2>
    <p> As I'm working hard to be the best I can in my feild, I want to reach the point where I'm titled as a software engineer working with software and managing it</p>   
<h5><a href="/about">About Me</a>, <a href="/projects"> My Projects</a>, <a href="/services"> My Services</a>, <a href="/contact"> Contact</a></h5>
    <% } %> 

    <% if(title == "Services"){ %>
    <h2> MY TECHNICAL HIGHLIGHTS </h2>
    <p>To find out more of what I can offer check out my <a href="./Assets/MARCO PASTORE.pdf">resume</a></p>
    <img height="300" width="500" style="position:relative;" src="./Assets/images/Programming.png"> 
    <h2>1. Programming</h2>
    <p> I am able to understand and use the following languages: C, C++, SQL, C#, Java, Python, JavaScript, CSS, HTML <br>I have developed many applications 
    with these languages and currently still using them</br></p>
    <br></br>
    <img height="300" width="500" style="position:relative;" src="./Assets/images/webDEV.jpg"> 
    <h2>2. Web Development</h2>
    <p> Knowledge of ExpressJS, Angular and nodeJs. Understand middleware and optimizing ExpressJS/Angular file systems for Back/Front end development.
    <br> Can develop .ejs files for HTML and JavaScript capabilities and DOM  </br></p>
<h5><a href="/about">About Me</a>, <a href="/projects"> My Projects</a>, <a href="/services"> My Services</a>, <a href="/contact"> Contact</a></h5>

    <% } %>


    <% if(title == "Contact"){ %>
      <h2>Phone: 647-990-8451</h2>
      <h2>Email: marco.pastore63@gmail.com</h2>
      <h5><a href="/about">About Me</a>, <a href="/projects"> My Projects</a>, <a href="/services"> My Services</a>, <a href="/contact"> Contact</a></h5>



    <% } %>



  </div>




    
    </main>


<% include partials/bottom_nav.ejs %>

 <% include partials/footer.ejs %>
 